:root, body, #root {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	--background: #1a1a1a;
	--foreground: #eaeaea;
	background-color: var(--background);
	color: var(--foreground);
	font-family: "Inter";
}

#items * {
	pointer-events: all;
}